<%= content_for :assets do %>
  <style type="text/css">
    .message-window {
      height: 500px;
      overflow: auto;
    }
  </style>
<% end %>
<% title = "与 #{@conversation.get_receiver(current_user.id)&.email } 聊天中" %>
<% provide :title, title %>
<div class="sender_id" style="display: none;"><%= current_user.id %></div>
<div class="conversation_id" style="display: none;"><%= @conversation.id %></div>
<div class="ui segment">
  <div class="ui attached top label">
    <%= title %>
  </div>
  <div class="ui example message-window">
    <%= render @conversation.messages %>
  </div>
</div>
<%= form_for :message, url: conversation_messages_path(conversation_id: @conversation), html: { class: "ui form" }, remote: true do |f| %>
<div class="field">
  <%= f.label :content, Message.human_attribute_name(:content) %>
  <%= f.text_area :content, required: true, "data-behavior": "conversation_speaker", placeholder: '输入信息后按回车发送' %>
</div>

<!--
<div class="field">
  <%= f.submit "发送", class: "ui button" %>
</div>
-->
<% end %>
